.search {
  display: flex;
  align-items: flex-start; /* Align search bar and results vertically */
  position: relative; /* Add position relative to enable absolute positioning for the cross mark */
}

.searchInputs {
  margin-right: 20px;
}

.searchBar {
  width: 400px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  border: none;
}

.searchBar input {
  width: 20%; /* Ensure the input field takes up the entire width */
}

.searchBar .close-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.dataResult {
  width: 400px;
  height: 300px; /* Increase the height to make the choice bar larger */
  background-color: white;
  box-shadow: #00000059 0px 5px 15px;
  overflow-y: auto;
}

.dataItem {
  height: fit-content;
  padding: 10px;
  cursor: pointer;
}

.dataItem p {
  margin: 0;
  font-size: 16px;
  color: black;
}

.dataItem p:first-child {
  font-weight: bold;
}

.dataItem:hover {
  background-color: lightgray;
}

.selectedSolution {
  margin-top: 10px;
  padding: 10px;
  background-color: lightblue;
}
